.select-item-wrapper {
  background-color: #fff;
  padding: 0 16px 16px 16px;
  width: fit-content;
  .select-item-title {
    font-size: 16px;
    // font-weight: 550;
    margin-bottom: 4px;
    border-bottom: 1px solid #eee;
    // padding: 8px;
    height: 60px;
    line-height: 60px;
  }
  .select-item-items {
    > div {
      border-bottom: 1px solid #eee;

      padding: 14px 0;
      cursor: pointer;
    }
  }
}

.common-item-wrapper {
  background-color: #fff;
  padding: 12px 16px;
  max-width: 70%;
  .common-item-title {
    font-size: 14px;
    // font-weight: 550;
    margin-bottom: 4px;
  }
}
