.city-items {
  // padding: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-top: 10px;
  // justify-content: space-between;
}

.cinemas-sort-active {
  color: #ff5f16 !important;
}

.cinemas-items {
  background-color: #fff;
}

.city-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}

.cinemas-wrapper {
  // display: flex;
  // flex-wrap: wrap;
  // padding-left: 10px;
  padding-top: 90px;
  background-color: #fff;
}
