.city-item {
  box-sizing: border-box;
  line-height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 12px;
  width: calc(25% - 10px);
  color: #797d82;
  // border: 1px solid #333;
  text-align: center;
  height: 30px;
  -ms-flex-negative: 1;
  flex-shrink: 1;

  &.city-tabs-active {
    border: 1px solid #ff5f16;
    color: #ff5f16 !important;
  }
}
