.coupon_tickets {
  margin: 0 8px;
  padding-top: 64px;
  .coupon_isExpia {
    // color: #000 !important;
    > * {
      opacity: 0.4;
    }
    // background-color: #d2d6dc !important;
  }
}
