.tabbar {
  display: flex;
  align-items: center;

  background-color: #fff;

  div {
    text-align: center;
    flex: 1;
    height: 48px;
    line-height: 48px;
  }
  span {
    display: inline-block;
  }
  .active {
    color: red;
    border-bottom: 2px solid red;
  }
}
.tabbar-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.main {
  margin-bottom: 64px;
}
