.buttonWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: #fff;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  > div {
    flex: 1;
  }
}
