.cinemas-warpper {
  background: #fff;
  .cinemas-title-fixed {
    position: fixed !important;
    top: 0;
    padding-top: 0 !important;
    z-index: 999;
  }
  .cinemas-title {
    
    //   padding: 0 15px;
  }

  .cinemas-tags {
    
    span {
     
    }
  }

  .cinemas-info {
    padding: 0 17px;
    height: 50px;
    img {
      width: 14px;
    }
    > :last-child {
      img {
        width: 17px;
      }
    }
  }

  .cinemas-film-list {
    height: 160px;
    padding-top: 15px;
    position: relative;
    .cinemas-film-cover {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      // padding: 15px 0;
      height: 160px;
      overflow: hidden;
      > div {
        height: 100%;
        width: 100%;
        filter: blur(30px);
        -webkit-filter: blur(30px);
      }
    }
  }
  .film-triggle {
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
  }
  .film-info {
    position: relative;
    // width: 100%;
    // display: flex;
    // align-items: center;
    padding: 0 15px;
    .film-info-name {
      font-size: 15px;
      // width: 75%;
      color: #191a1b;
      padding-right: 5px;
      text-align: center;
      margin-bottom: 10px;
      i {
        font-size: 16px;
      }
      span {
        font-size: 10px;
      }
      i,
      span {
        color: #ffb232;
      }
    }
    .film-info-desc {
      // padding: 0 15px;
      padding-bottom: 16px;
      width: 98%;
      text-align: center;
      height: 18px;
      color: #797d82;
      font-size: 13px;
      // padding: 0 12%;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    img {
      position: absolute;
      top: 20px;

      right: 15px;
      width: 6px;
    }
  }

  .schedule-items {
  

    .schedule-item {
      
      &.disabled {
        * {
          color: #d2d6dc !important;
        }
        > :last-child {
          border-color: #d2d6dc !important;
        }
      }
      > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
     
      .schedule-at {
        width: 60px;
        > :first-child {
          font-size: 15px;
          color: #191a1b;
        }

        > :last-child {
          font-size: 13px;
          color: #797d82;
          margin-top: 2px;
        }
      }
      .schedule-info {
        flex: 1;
        > :first-child {
          font-size: 15px;
          color: #191a1b;
        }

        > :last-child {
          font-size: 13px;
          color: #797d82;
          margin-top: 2px;
        }
      }
      .schedule-price {
       
      }

      > :last-child {
    
      }
    }
  }
}
