.search-navbar {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 48px;
  //   line-height: 48px;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  > :first-child {
    height: 32px;
    line-height: 32px;
    background-color: #f4f4f4;
    border-radius: 4px;
    flex: 1;
    padding: 0 8px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    > :first-child {
      margin-right: 8px;
    }

    > :last-child {
      //   width: 100%;

      flex: 1;
      height: 32px;
      border: 0;
      background-color: inherit;
      outline: none;
    }
  }
}

.search-list-wrapper {
  padding-top: 48px;
  background-color: #fff;
}
