:global(.swiper-slide) {
  // width: 72px !important;
  padding-top: 26px;
  display: flex;
  align-items: center;

  @media (max-width: 374px) {
    transform: translateX(-10px);
  }
  img {
    width: 72px !important;
    height: 104px !important;
  }
}

:global(.swiper-slide-active) {
  // transform: scale(1) !important;
  padding-top: 0 !important;
  min-width: 90px !important;

  // width: 90px !important;
  height: 130px !important;

  // margin-left: -9px;

  img {
    width: 100% !important;
    height: 130px !important;
  }
}

.cinema-swiper {
  width: 90px !important;
  margin: 0 auto;
}
