.cinemas-dates {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-top: 48px;
  background-color: #fff;

  > div {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    // width: 100px;
    flex-shrink: 0;
    text-align: center;
    span {
      margin: 0 10px;
      &.active {
        display: inline-block;
        color: #ff5f16;
        border-bottom: 2px solid #ff5f16;
      }
    }
  }
}
