.parentBox {
  position: fixed;
  inset: 0;
  // background: #fff;
  /* padding: 100px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .contantBox {
    --r1: 154%;
    --r2: 68.5%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background:
      radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #ff5f16 80%)
        center left,
      radial-gradient(var(--r1) var(--r2) at bottom, #ff5f16 79.5%, #0000 80%)
        center center,
      radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #ff5f16 80%)
        center right,
      #ccc;
    background-size: 50.5% 220%;
    background-position:
      -100% 0%,
      0% 0%,
      100% 0%;
    background-repeat: no-repeat;
    animation: cartoon 2s infinite linear;
  }
  @keyframes cartoon {
    33% {
      background-position:
        0% 33%,
        100% 33%,
        200% 33%;
    }

    66% {
      background-position:
        -100% 66%,
        0% 66%,
        100% 66%;
    }

    100% {
      background-position:
        0% 100%,
        100% 100%,
        200% 100%;
    }
  }

  > div {
    > :last-child {
      text-align: center;
      margin-top: 8px;
    }
  }
}
