.films-wrapper {
  padding-top: 48px;

  .films-info {
    background-color: #fff;
    padding: 0 8px;
    display: flex;
    align-items: center;
    > :first-child {
      // flex: 1;
      width: calc(100% - 100px);
    }

    > :last-child {
      width: fit-content;
      img {
        width: 60px;
      }
    }
  }

  .film-descrption {
    position: relative;
    padding: 15px;
    padding-top: 12px;
    background-color: #fff;
    .film-name {
      color: #191a1b;
      font-size: 18px;
      height: 24px;
      line-height: 24px;
      margin-right: 7px;
      display: flex;
      align-items: center;
      > :first-child {
        flex: 1;
        display: flex;
        align-items: center;
        overflow: hidden;
        div {
          // width: 20%;
        }
        span {
          margin-left: 8px;
          font-size: 9px;
          text-align: center;
          color: #fff;
          background-color: #d2d6dc;
          height: 14px;
          line-height: 14px;
          padding: 0 2px;
          border-radius: 2px;
          display: inline-block;
          width: 20px;
        }
      }

      > :last-child {
        // flex: 1;
        width: 50px;
        text-align: right;
        font-size: 18px;
        font-style: italic;
        color: #ffb232;
        span {
          font-size: 10px;
        }
      }
    }
    .film-grey {
      font-size: 13px;
      color: #797d82;
      margin-top: 4px;
    }

    .film-synopsis {
      // height: 38px;
      overflow: hidden;
      margin-top: 12px;
      font-size: 13px;
      color: #797d82;
      transition: height 0.5s;
    }

    .film-synopsis-short {
    }
    .film-synopsis-more {
    }

    .film-toggle {
      text-align: center;
      display: block;
      // height: auto;

      width: 20px;
      margin: auto;
      margin-top: 10px;
    }
  }

  .film-rate {
    margin-top: 16px;
    background-color: #fff;
  }

  .esimate-wrapper {
    padding: 10px 16px;
    background-color: #fff;
    display: flex;
    // align-items: center;
    > :first-child {
      img {
        width: 24px;
        height: 24px;
        margin-right: 14px;
        border-radius: 50%;
      }
    }

    > :last-child {
      flex: 1;
    }
    .esimate-header {
      display: flex;
      align-items: center;
      > :first-child {
        > :last-child {
          > :first-child {
            font-size: 12px;
          }
        }
      }
      > :last-child {
        margin-left: auto;
        display: flex;
        border: 1px solid #ccc;
        padding: 4px;
        border-radius: 12px;
        color: #999;
        font-size: 12px;
        img {
          width: 16px;
          margin-right: 4px;
        }
      }
    }
  }

  .esimate-estimation {
    margin-top: 4px;
  }
}
