body {
  background-color: #ededed;
  font-family:
    Microsoft YaHei,
    Tahoma,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inner-scroll::-webkit-scrollbar {
  display: none;
}

.film-title {
  padding: 15px;
  font-size: 16px;
}

.price-fmt {
  font-size: 14px;
  color: #ff5f16;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
